[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TroublemakeR"]
	path = TroublemakeR
	url = https://github.com/sustainscapes/troublemaker
	shallow = true
	registered = true
